*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#fff;
color:#222;
line-height:1.6;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:white;
position:sticky;
top:0;
z-index:999;
box-shadow:0 2px 15px rgba(0,0,0,0.05);
}

.logo{
font-size:24px;
font-weight:bold;
color:#B76E79;
}

.navbar ul{
display:flex;
list-style:none;
gap:25px;
}

.navbar a{
text-decoration:none;
color:#222;
font-weight:500;
}

.hero{
min-height:90vh;
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 10%;
background:linear-gradient(
135deg,
#fff,
#fff7f7,
#ffe9ee
);
}

.hero-content{
width:50%;
}

.hero-image{
width:45%;
}

.hero-image img{
width:100%;
border-radius:25px;
box-shadow:0 15px 40px rgba(0,0,0,0.15);
}

.hero h1{
font-size:65px;
margin-bottom:10px;
}

.hero h3{
color:#B76E79;
font-size:28px;
margin-bottom:20px;
}

.hero p{
max-width:700px;
margin:auto;
font-size:18px;
}

.btn{
display:inline-block;
margin-top:25px;
background:#B76E79;
color:white;
padding:14px 30px;
text-decoration:none;
border-radius:40px;
}

.benefits{
display:flex;
justify-content:center;
gap:30px;
padding:60px 10%;
flex-wrap:wrap;
}

.benefit{
background:white;
padding:30px;
border-radius:15px;
width:250px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.products{
padding:80px 10%;
}

.products h2{
text-align:center;
margin-bottom:50px;
}

.product-grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

.product-card{
width:280px;
padding:20px;
background:white;
border-radius:18px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
text-align:center;
}

.product-image{
height:250px;
background:#f3f3f3;
border-radius:12px;
margin-bottom:15px;
}

.product-card button{
margin-top:15px;
padding:10px 20px;
background:#B76E79;
border:none;
color:white;
border-radius:30px;
cursor:pointer;
}

.banner{
background:#FFF5F7;
padding:90px 10%;
text-align:center;
}

.banner h2{
font-size:42px;
margin-bottom:15px;
}

.reviews{
padding:80px 10%;
}

.review-grid{
display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;
}

.review-card{
background:white;
padding:25px;
width:300px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.about,
.contact{
padding:80px 10%;
text-align:center;
}

footer{
background:#111;
color:white;
text-align:center;
padding:40px;
}

.whatsapp-float{
position:fixed;
right:20px;
bottom:20px;
background:#25D366;
color:white;
text-decoration:none;
padding:15px 18px;
border-radius:50px;
font-weight:bold;
}
